In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('mercedesbenz.csv')
data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
data.sort_values(['X3','X8'])

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
291,584,105.23,z,b,a,a,d,i,j,a,...,0,1,0,0,0,0,0,0,0,0
703,1368,90.73,u,s,as,a,d,af,l,a,...,0,0,1,0,0,0,0,0,0,0
713,1386,114.37,w,s,as,a,d,af,j,a,...,0,0,1,0,0,0,0,0,0,0
772,1517,89.91,o,s,m,a,d,af,h,a,...,0,0,1,0,0,0,0,0,0,0
830,1630,94.67,o,s,m,a,d,af,j,a,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544,5096,97.20,ay,aa,m,g,d,n,j,x,...,1,0,0,0,0,0,0,0,0,0
482,923,103.54,e,s,as,g,d,d,a,y,...,1,0,0,0,0,0,0,0,0,0
488,931,107.35,ak,u,as,g,d,d,i,y,...,1,0,0,0,0,0,0,0,0,0
1514,3025,91.11,o,s,as,g,d,ad,g,y,...,1,0,0,0,0,0,0,0,0,0
3572,7145,93.71,f,s,as,g,d,r,d,y,...,1,0,0,0,0,0,0,0,0,0

In [3]:
data.X4.value_counts()

d    4205
a       2
c       1
b       1
Name: X4, dtype: int64

In [4]:
data.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [6]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [9]:
data.loc[(data['X4']=='a')]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
1309,2585,96.69,z,r,ae,c,a,ac,a,s,...,1,0,0,0,0,0,0,0,0,0
1310,2586,105.51,aj,u,as,c,a,ac,d,n,...,1,0,0,0,0,0,0,0,0,0

In [10]:
data.loc[(data['X4']=='a') | (data['X382']==1)]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
91,197,73.70,az,y,as,c,d,j,j,q,...,0,0,0,0,0,0,1,0,0,0
184,385,79.09,az,y,b,c,d,i,j,l,...,0,0,0,0,0,0,1,0,0,0
208,424,77.36,az,y,b,c,d,i,j,l,...,0,0,0,0,0,0,1,0,0,0
400,789,77.14,az,y,b,c,d,d,j,l,...,0,0,0,0,0,0,1,0,0,0
421,824,77.31,az,y,b,c,d,d,j,l,...,0,0,0,0,0,0,1,0,0,0
466,898,78.25,az,y,e,c,d,d,j,j,...,0,0,0,0,0,0,1,0,0,0
591,1149,73.40,bc,y,ac,c,d,c,j,p,...,0,0,0,0,0,0,1,0,0,0
669,1300,74.53,az,y,e,c,d,c,j,m,...,0,0,0,0,0,0,1,0,0,0
682,1326,76.81,az,s,as,c,d,c,l,h,...,0,0,0,0,0,0,1,0,0,0
689,1342,74.20,az,y,n,c,d,c,j,m,...,0,0,0,0,0,0,1,0,0,0
707,1373,79.81,az,y,as,c,d,af,j,i,...,0,0,0,0,0,0,1,0,0,0
1119,2217,74.54,az,y,b,c,d,ab,j,l,...,0,0,0,0,0,0,1,0,0,0
1234,2453,87.95,az,y,as,c,d,ab,j,h,...,0,0,0,0,0,0,1,0,0,0
1295,2551,76.64,az,l,as,c,d,ac,i,d,...,0,0,0,0,0,0,1,0,0,0
1309,2585,96.69,z,r,ae,c,a,ac,a,s,...,1,0,0,0,0,0,0,0,0,0
1310,2586,105.51,aj,u,as,c,a,ac,d,n,...,1,0,0,0,0,0,0,0,0,0
1443,2863,80.53,az,y,e,c,d,ac,j,g,...,0,0,0,0,0,0,1,0,0,0
1466,2915,74.10,az,t,n,c,d,ac,l,r,...,0,0,0,0,0,0,1,0,0,0
1472,2931,76.96,bc,y,ac,c,d,ac,j,k,...,0,0,0,0,0,0,1,0,0,0
1576,3154,77.86,az,y,m,c,d,ad,j,q,...,0,0,0,0,0,0,1,0,0,0
1760,3520,80.34,az,y,b,c,d,ae,j,l,...,0,0,0,0,0,0,1,0,0,0
1777,3560,78.95,az,y,e,c,d,ae,j,c,...,0,0,0,0,0,0,1,0,0,0
1788,3588,74.35,az,m,aq,c,d,ae,j,v,...,0,0,0,0,0,0,1,0,0,0
2101,4207,88.75,az,y,e,c,d,l,j,h,...,0,0,0,0,0,0,1,0,0,0
2421,4857,76.84,az,n,as,c,d,n,j,c,...,0,0,0,0,0,0,1,0,0,0
2604,5215,78.71,az,y,aq,c,d,m,j,d,...,0,0,0,0,0,0,1,0,0,0
2727,5448,86.16,az,l,as,c,d,m,g,r,...,0,0,0,0,0,0,1,0,0,0
2906,5821,74.50,az,y,aq,c,d,p,j,w,...,0,0,0,0,0,0,1,0,0,0
2926,5865,73.02,az,s,n,c,d,p,d,f,...,0,0,0,0,0,0,1,0,0,0
3109,6237,73.52,az,n,as,c,d,q,d,s,...,0,0,0,0,0,0,1,0,0,0
3544,7084,76.32,bc,y,ac,c,d,r,j,l,...,0,0,0,0,0,0,1,0,0,0
3882,7785,75.39,az,y,x,c,d,w,j,t,...,0,0,0,0,0,0,1,0,0,0
4147,8292,77.38,az,y,ak,c,d,aa,j,p,...,0,0,0,0,0,0,1,0,0,0

In [11]:
data.loc[(data['X4']=='a') & (data['X382']==1)]

Empty DataFrame
Columns: [ID, y, X0, X1, X2, X3, X4, X5, X6, X8, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, X24, X26, X27, X28, X29, X30, X31, X32, X33, X34, X35, X36, X37, X38, X39, X40, X41, X42, X43, X44, X45, X46, X47, X48, X49, X50, X51, X52, X53, X54, X55, X56, X57, X58, X59, X60, X61, X62, X63, X64, X65, X66, X67, X68, X69, X70, X71, X73, X74, X75, X76, X77, X78, X79, X80, X81, X82, X83, X84, X85, X86, X87, X88, X89, X90, X91, X92, X93, X94, X95, X96, X97, X98, X99, X100, X101, ...]
Index: []

[0 rows x 378 columns]

In [12]:
data.y.unique()

array([130.81,  88.53,  76.26, ...,  85.71, 108.77,  87.48])

In [13]:
data.y.value_counts()

90.76     7
89.06     7
89.38     7
91.88     7
93.62     6
         ..
93.26     1
93.24     1
105.94    1
94.17     1
79.00     1
Name: y, Length: 2545, dtype: int64

In [14]:
data.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
data.describe(include='O')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [16]:
d1=data.copy()
d1

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [19]:
data['XAll']=data['X375']+data['X376']+data['X377']+data['X378']
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X376,X377,X378,X379,X380,X382,X383,X384,X385,XAll
0,0,130.81,k,v,at,a,d,u,j,o,...,0,1,0,0,0,0,0,0,0,1
1,6,88.53,k,t,av,e,d,y,l,o,...,0,0,0,0,0,0,0,0,0,1
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,1,0,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data.drop('XAll',axis=1,inplace=True)

In [21]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [22]:
data.drop([3,5,7,78,90], axis=0 )

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [23]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0